.registerContainer {
    
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 1.5rem;
        width: 80%;
        padding-left: 1rem;

        color: var(--alt-white);
        

        .formHeader {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            row-gap: 2rem;
        }
        
        .formTitle {
            font-size: 2.5rem;
        }

        button {
            font-size: 1.2rem;
            margin-top: 1rem;
            width: 60%;
        }

        @media (min-width: 720px) {
            width: 50%;
            padding: 0;
        }

        @media (min-width: 1080px) {
            width: 30%;
            padding: 0;
        }
    }
}