.buttonContent {
    border: none;
    border-radius: 0.5rem;

    padding: 1rem 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    background: var(--alt-red);
    color: var(--alt-white);
    font-weight: 600;

    transition: filter .3s;

    &:hover {
        filter: brightness(0.8);
    }
}