.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 2vh;
    color: white;
    height: 45px;
    width: 100%;

    & span{
        font-size: 14px;
    }
}

.ls{
display:inline-flex;
justify-content: space-between;
padding-inline: 10px;
}

.litem{
display:inline-flex;
padding-inline: 10px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 13px;
}
  