
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    user-select: none;
    gap: 10px;
}

.logoClickable{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    gap: 10px;
}

.logoText {
    font-size: 6rem;
    font-weight: 400;
    font-family: 'Lora';

    @media(max-width: 720px){
        display: none;
    }
}