
.logo{
    cursor: default;
    user-select: none;
    text-align: left;
    border-right: .03em solid white;
}

.clickableLogo{
    cursor: default;
    user-select: none;
    text-align: left;
    border-right: .03em solid white;
}