.content{
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5rem;
    padding-bottom: 5rem;
}

.item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10rem;
    padding-top: 5rem;

    border-top: .1rem solid var(--rainsen-black);

    &~.alt{
        flex-direction: row-reverse;
    }

    @media(max-width: 1280px){
        &, ~.alt{
            flex-direction: column-reverse;
            row-gap: 2rem;
        }
        
    }
}

.item__texts{
    width: 55rem;
    color: var(--alt-white);

    word-wrap: break-word;

    h2 {
        font-size: 3.5rem;
        margin-bottom: 1.2rem;
    }

    h3 {
        font-size: 1.4rem;
        max-width: 800px;
    }

    @media(max-width: 900px){
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
    }

}

.item__image{
    height: 20rem;

    @media(max-width: 1280px){
        height: 12rem;
    }
}
