.language_list{
    position: absolute;
    top: 2rem;
    left: 2rem;
    display:inline-flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;
    
    span{
        color: white;
        cursor: default;
        font-size: 1.4rem;
        font-weight: 200;
        &:hover{
            text-decoration: none;
        }
    }
    
}

.language_list__item{
    color: white;
    display:inline-flex;
    padding-inline: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: .8rem;
    
    &:hover{
        text-decoration: underline;
    }

    span {
        padding-right: 0.3rem;
    }
}