.content{
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;

  .main {
    height: 100%;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    

    .loginbtn { 
      font-size: 1.2rem;
      background: var(--alt-red) ;
      cursor: pointer;
      text-decoration: none;
      color: white;
      border: none;
      padding: 0.35em;
      border-radius: 0.25em;
      width: 375px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      transition: .2s ease-in-out;

      &:hover{
        filter: brightness(0.8);
        gap: 10px;
      }

    } 

    .registerbtn{
      font-size: 1.2rem;
      background: none;
      cursor: pointer;
      text-decoration: none;
      color: white;
      border: white 1px solid;
      padding: 0.35em;
      border-radius: 0.25em;
      width: 375px;
    }
    
    .notnowbtn{
      font-size: 1.2rem;
      background: none;
      cursor: pointer;
      text-decoration: none;
      color: white;
      border: white 1px solid;
      padding: 0.35em;
      border: none;
      font-size: 15px;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}