.content{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding-top: 18rem;
  padding-bottom: 5%;
}

.content__main{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15rem;
  margin-bottom: 18rem;

  @media(max-width: 1280px){
    flex-direction: column;
    row-gap: 5rem;
    margin-bottom: 13rem;
  }

  
  
}

.main__card{
  display: flex;
  flex-direction: column;

  row-gap: 2rem;
  width: 30rem;
  color: white;
  text-align: center;

  h2 {
    font-weight: 400;
  }
}

.content__informations{
  
}

.login_button {
  position: absolute;
  right: 2rem;
  top: 1.2rem;
  max-width: 15rem;
  background: transparent;
  border: none;

  @media(max-width: 720px){
    right: .3rem;
    top: 1rem;
  }

}