.content{
  height: 200vh;
  width: 100vh;
}
.main {
  height: 96vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2em;
}

.loginbtn { 
  font-size: 1.2rem;
  background: var(--alt-red) ;
  cursor: pointer;
  text-decoration: none;
  color: white;
  border: none;
  padding: 0.35em;
  border-radius: 0.25em;
  width: 375px;
}

.registerbtn{
  font-size: 1.2rem;
  background: none;
  cursor: pointer;
  text-decoration: none;
  color: white;
  border: white 1px solid;
  padding: 0.35em;
  border-radius: 0.25em;
  width: 375px;
}

.notnowbtn{
  font-size: 1.2rem;
  background: none;
  cursor: pointer;
  text-decoration: none;
  color: white;
  border: white 1px solid;
  padding: 0.35em;
  border: none;
  width: 375px;
}

.arrowcontainer{
  height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.arrow{
  font-size:'35px';
  cursor:'pointer';
  color:'white'
}

.infoContainer{
  height: 92vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--alt-white);
  gap: 3em;
}

.info{
  display: flex;
  gap: 4rem;
  width: fit-content;
}

.infoimg{
  width: 360px;
  height: 240px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.infotxt{
  text-align: center;
  align-self: center;
  word-wrap: break-word;
  white-space: pre-wrap;
  font-size: 24px;
  color: #1F1E1E;
}
