.content{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem;

  .main {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;

    .buttons{
      height: 100%;
      width: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      .loginbtn { 
        font-size: 1.2rem;
        background: var(--alt-red) ;
        cursor: pointer;
        text-decoration: none;
        color: white;
        border: none;
        padding: 0.35em;
        border-radius: 0.25em;
        width: 375px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        transition: .2s ease-in-out;
  
        &:hover{
          filter: brightness(0.8);
          gap: 10px;
        }
  
      } 
  
      .registerbtn{
        font-size: 1.2rem;
        background: none;
        cursor: pointer;
        text-decoration: none;
        color: white;
        border: white 1px solid;
        padding: 0.35em;
        border-radius: 0.25em;
        width: 375px;
      }
      
      .notnowbtn{
        font-size: 1.2rem;
        background: none;
        cursor: pointer;
        text-decoration: none;
        color: white;
        border: white 1px solid;
        padding: 0.35em;
        border: none;
        font-size: 15px;
        &:hover{
          text-decoration: underline;
        }
      }

    }

    .complements {
      width: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .infofield{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .firegif{
          position: absolute;
          right: -50px;
        }
      }

    }

  }
}