.c {
    height: 96vh;
  }
  
  .m {
    height: 100%;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2em;
  }

  .nf{
      display: inline-flex;
      justify-content: space-between;
      gap: 20px;
  }

  .form{
    max-width: 460px;
    display: flex;
    flex-direction: column;
    height: max-content;
    gap: 1em;
  }